/php/*
!/php/empty.rd
/examples/*
!/examples/wood_and_house.php
!/examples/maze.php
!/examples/php.bat
!/examples/dante.php
!/examples/rita-world.php
!/examples/Foto.php
!/examples/runner.php
!/examples/runner.bat
/.idea/*